* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: #e5ab64; */
}

.buttons_container {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* background-color: #73DB7C; */
}

.bars_container {
  display: flex;
  flex-direction: row;
  margin-left: 15rem;
  margin-right: 15rem;
  height: 30rem;
  /* background-color: yellowgreen; */
  justify-content: center;
}

.bar {
  width: 0.625rem;
  background-color: #6699F2;
  margin: 0 0.125rem;
  border-radius: 0.125rem;
  /* background-color: aquamarine; */
}

body {
  background-color: whitesmoke;
}

.buttons_container > button,
select {
  width: 10rem;
  height: 2rem;
  background-color: #2081e1;
  border: none;
  border-radius: 0.3rem;
  color: white;
  font-size: 0.9rem;
  cursor: pointer;
  text-align: center;
  transition: 0.2s ease-in-out;
}

button:hover {
  background-color: #56697b;
}
